* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .row {
    width: 100%;
    height: auto;
    margin: 5px 0;
    display: flex;
    align-items: stretch;
    flex: 1;
    overflow: hidden;
  }
  
  .projek-description {
    text-align: justify;
  }
  
  .foto_3 {
    height: 50%;
  }
  
  .myslides {
    display: none;
  }
  
  .myslides.active {
    display: block;
    width: 100%;
  }
  
  .slide-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .myslide img {
    width: 100%;
    height: auto;
  }
  
  .div {
    background-image: url(../assets/background\ projek\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .deskripsi {
    text-align: center;
    text-align: justify;
  }
  
  header {
    background-color: #A9A9A9;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .navbar-brand {
    padding: 20px;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .rounded-1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .container-fluid {
    padding-bottom: 60%;
    width: 90vm;
  }
  
  .slide-image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
  }
  
  .projek {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: red;
  }
  
  .list-grup-item {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    color: white;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 380px;
  }
  
  @media screen and (min-width: 768px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 992px) {
    .column {
      width: 33.33%;
    }
  }
  
  .sidang {
    width: 100%;
    height: 30%;
    padding: 10px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    min-width: 300px;
    height: 100%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .title {
    font-size: 3vw;
    text-align: justify;
  }
  
  .description {
    font-size: 3vw;
    text-align: justify;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  
  .col-md-3 {
    padding: 5px;
  }
  
  .secondary-500 {
    color: #DDF2FD !important;
  }
  
  .secondary-500-bg {
    background-color: #DDF2FD !important;
  }
  
  .h-1 {
    text-align: center;
    color: aliceblue;
  }